
/* 画像の縦横比とサイズを一定にする(親要素に持たせる) */
.image-trim {
  position: relative;
  overflow: hidden;
  padding-top: 60%; /* 比率 */
}
.image-trim img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 文字制限1行以上は...で表示される */
.txt-limit-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* 任意の行数を指定 */
  }

  /* 文字制限2行以上は...で表示される */
.txt-limit-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 任意の行数を指定 */
  }

  .text-white-90 {
    --bs-text-opacity: 1;
    color: rgba(230, 230, 230, 1) !important;
  }

/*文字にタッチでホバー*/
span.marker{
    background-image: linear-gradient(to right, #ffbb1e, #ffbb1e);
    background-repeat: no-repeat;
    background-size: 0;/*マーカー非表示*/
    transition: 1s;/*アニメーションの秒数*/
  }
  
  /*ホバー時*/
  span:hover {
    background-size: 100%;/*マーカーが文字全体に広がる*/
  }

/* スクロールでホバー */
.js-marker {
    display: inline;
    position: relative;
    background-image: linear-gradient(90deg, #ff9292, #f22828); /* 単色の場合は同じ色、グラデーションさせる場合は別々の色 */
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0 30%; /* '30%'の部分にマーカーの太さを記入 */
    transition: all 2s ease-in-out; /* マーカーを引く速度を調整 */
  }

  .js-marker.inview {
    background-size: 100% 30%; /* '30%'の部分は上で設定した太さに合わせる */
  }

  /* スクロールでホバー */
.js-marker-4 {
    display: inline;
    position: relative;
    background-image: linear-gradient(90deg, #15e9f9, #15e9f9); /* 単色の場合は同じ色、グラデーションさせる場合は別々の色 */
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0 20%; /* '30%'の部分にマーカーの太さを記入 */
    transition: all 4s ease-in-out; /* マーカーを引く速度を調整 */
  }

  .js-marker-4.inview {
    background-size: 100% 20%; /* '30%'の部分は上で設定した太さに合わせる */
  }

  /* カードのホバー */
  .card-hover-top a:hover{
    transform: translateY(-5px);
  }


  .card-hover-in a{
    transition: all 0.5s ease-in-out;
  }
  
  /* カードのホバー */
  .card-hover-in a:hover{
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
  }